@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  transition: 0.2s linear;
  color: #0c134f;
}

body {
  justify-content: center;
  align-items: center;
  background: #e8eaff;
  margin-top: 140px
}
body h5 {
  color: #0c134f;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 9vh;
  width: 100%;
  color: #ffffff;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  color: #fff;
  background-color: rgb(13, 19, 79);
  transition: background-color 0.3s;
  z-index: 1000;
}

nav.transparent {
  background-color: rgb(13, 19, 79, 0.7);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo-title {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.nav li a:hover {
  color: #f29727;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #101965;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  transition: all 0.2s ease;
}

.dropdown-menu li a:hover{
    background-color: #192484;
    color: #e8eaff;
}

.lgn-btn {
  background-color: #0c134f;
  color: #e8eaff;
  padding: 12px;
  border-radius: 10px;
}

.lgn-btn:hover {
  color: #e8eaff;
  background-color: #0111a4;
}

.d-grid a {
  margin-right: 30px;
  color: white;
}

/* Back to Kelas Home */
.back-to-home {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0c134f;
  color: #e8eaff;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 10px;
}

.back-to-home:hover {
  background-color: #1f2da7;
}

/* CONTENT */
.container {
  padding: 30px;
  text-align: center;
  color: #0c134f;
}

.container h1 {
  text-align: center;
  color: #0c134f;
}

.container h5 {
  font-weight: lighter;
  color: #0c134f;
}

.Materi {
  margin: 0 auto;
  max-width: 1000px;
}

.tentang {
  padding-bottom: 50px;
  color: #0c134f;
}

/* Target dan Cocok */
.target_cocok {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.target {
  display: inline-block;
  width: 38%; /* Lebar kolom */
  position: relative;
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%; /* Letak garis vertikal di tengah kolom */
  border-left: 2.5px solid #f29727; /* Gaya garis vertikal */
}

/* APK */
.apk {
  padding-top: 50px;
}

.apk img {
  padding-top: 10px;
}

.apk a {
  display: block;
  padding-top: 10px;
}

.apk button {
  background-color: #0c134f;
  color: #ffffff;
  padding: 5px;
  width: 10%;
  border-radius: 3px;
}

.apk button:hover {
  background-color: #5a5b60;
}

/* Kurikulum */
.kurikulum {
  padding-top: 70px;
  margin: 0 auto;
  max-width: 1000px;
}

.accordion {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}

.accordion .contentBx .label {
  position: relative;
  padding: 10px;
  border-bottom: groove;
  color: #0c134f;
  cursor: pointer;
  font-weight: bold;
}

.accordion .contentBx .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx.active .label::before {
  content: "-";
  color: #f29727;
}

.accordion .contentBx .content {
  position: relative;
  background: #d6dbff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
  color: #0c134f;
  text-decoration: none;
}

.accordion .contentBx.active .content {
  /* atur size dalam content */
  height: 100%;
  padding: 10px;
  overflow: hidden;
}

/*FOOTER  */
footer {
  margin-top: 100px;
  background-color: #0c134f;
  padding: 20px 0;
  display: flex;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.footer-left,
.footer-right {
  flex-basis: 30%;
  padding: 20px;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
}

footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

footer p {
  margin: 0;
  color: #ffffff;
}

