@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    font-family: 'Poppins', sans-serif;
}

.judul h1{
    padding: 20px;
    text-align: center;
    color: #0C134F;
    font-size: 3pc;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

body {
    background-color: #e8eaff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 9vh;
    width: 100%;
    color: #ffffff;
    z-index: 999;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    color: #fff;
    background-color: rgb(13, 19, 79);
    transition: background-color 0.3s;
    z-index: 1000;
  }
  
  nav.transparent {
    background-color: rgb(13, 19, 79, 0.7);
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .logo-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .logo-title {
    color: #fff;
    font-size: 18px;
    margin: 0;
  }
  
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    margin-right: 10px;
    width: auto;
  }
  
  .nav li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .nav li a:hover {
    color: #f29727;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #101965;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  }
  
  .dropdown-menu li {
    margin-bottom: 5px;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    transition: all 0.2s ease;
  }
  
  .dropdown-menu li a:hover{
      background-color: #192484;
      color: #e8eaff;
  }
  
  .lgn-btn {
    background-color: #0c134f;
    color: #e8eaff;
    padding: 12px;
    border-radius: 10px;
  }
  
  .lgn-btn:hover {
    color: #e8eaff;
    background-color: #0111a4;
  }
  
  .d-grid a {
    margin-right: 30px;
    color: white;
  }

.cards {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.card {
    margin-right: 25px;
    background-color: #fff;
    width: calc(33.3% - 70px);
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    transition: cubic-bezier(0.175, 0.885, 0, 1);
    margin-bottom: 25px;
}

.card-img {
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-img-hover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    transition: 1.5s all ease-out;
}

.card:hover .card-img-hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1, 1.1);
    transition: 0.5s ease-out;
}

.card-info {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card-category {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-style: 500;
    color: #0C134F;
}

.card-title {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #0C134F;
}

.card-by {
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #0C134F;
}

.card-admin {
    font-weight: 900;
    text-decoration: none;
    color: #f29727;
}

.card:hover .card-info {
    background-color: transparent;
    position: relative;
    transition: 0.5s ease-out;
}

.card-info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card:hover .card-info-hover {
    opacity: 1;
}


.card-like {
    width: 18px;
}

.card-clock-info {
    float: right;
}

.card-clock {
    width: 15px;
    vertical-align: middle;
    fill: #f29727;
}

.card-time {
    font-size: 12px;
    color: #f29727;
    vertical-align: middle;
    margin-left: 5px;
}


.wa_btn {
    position: fixed;
    right: 30px;
    bottom: 30px; 
    text-decoration: none;
    color: green;
    font-size: 37px;
}

.wa_btn:hover {
    color: #f29727;
    transition: all .2s ease-in;
}

/*FOOTER  */
footer {
    margin-top: 100px;
    background-color: #0c134f;
    padding: 20px 0;
    display: flex;
  }
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
  }
  
  .footer-left,
  .footer-right {
    flex-basis: 30%;
    padding: 20px;
  }
  
  .footer-bottom {
    margin-top: 30px;
    text-align: center;
  }
  
  footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
  }
  
  footer p {
    margin: 0;
    color: #ffffff;
  }
  
