@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Poppins";
  transition: 0.2s linear;
}

body {
  margin: 0;
  justify-content: center;
  align-items: center;
  background: #e8eaff;
  margin-top: 120px;
}


/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 9vh;
  width: 100%;
  color: #ffffff;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  color: #fff;
  background-color: rgb(13, 19, 79);
  transition: background-color 0.3s;
  z-index: 1000;
}

nav.transparent {
  background-color: rgb(13, 19, 79, 0.7);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo-title {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.nav li a:hover {
  color: #f29727;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #101965;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  transition: all 0.2s ease;
}

.dropdown-menu li a:hover {
  background-color: #192484;
  color: #e8eaff;
}

.lgn-btn {
  background-color: #0c134f;
  color: #e8eaff;
  padding: 12px;
  border-radius: 10px;
}

.lgn-btn:hover {
  color: #e8eaff;
  background-color: #0111a4;
}

.d-grid a {
  margin-right: 30px;
  color: white;
}

/* Form Styles */
form {
    width: 800px;
    margin: 0 auto;
   
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: auto;
    background-color: #f29727;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #101965;
}

/*FOOTER  */
footer {
    bottom: 0;
    left: 0;
    margin-top: 240px;
    background-color: #0c134f;
    padding: 20px 0;
    display: flex;
  }
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-left,
  .footer-right {
    flex-basis: 30%;
    padding: 20px;
  }
  
  .footer-bottom {
    margin-top: 30px;
    text-align: center;
  }
  
  footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
  }
  
  footer p {
    margin: 0;
    color: #ffffff;
  }